openapi: 3.1.0
info:
  title: API AobaPay
  description: API para gerenciamento de cobranças e pagamentos usando o AobaPay.
  version: 1.0.0
servers:
  - url: https://api.aobapay.com/v1
    description: Único servidor para os ambientes de produção e sandbox.
paths:
  /charge/pix/create:
    post:
      summary: 'Criar QRCode PIX'
      description: Permite que você crie um código copia-e-cola e um QRCode Pix para seu cliente fazer o pagamento.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                  description: Valor da cobrança em centavos.
                  example: 200
                  minimum: 200
                externalID:
                  type: string
                  description: ID externo para referência na sua aplicação.
                  example: '12345678900'
                expiration:
                  type: number
                  description: Tempo de expiração da cobrança em segundos.
                  example: 3600
                  minimum: 300
                comment:
                  type: string
                  maxLength: 35
                  comment: Mensagem que aparecerá na hora do pagamento do PIX.
                name:
                  type: string
                  description: Nome do pagador.
                  example: 'João da Silva'
                email:
                  type: string
                  description: Email do pagador.
                  example: 'joao.silva@example.com'
                phone:
                  type: string
                  description: Telefone do pagador.
                  example: '11987654321'
                document:
                  type: string
                  description: Documento do pagador (CPF ou CNPJ).
                  example: '12345678900'
                postbackUrl:
                  type: string
                  description: URL para receber notificações sobre o status do pagamento, dos eventos de cobrança paga, expirada e extornada.
                  example: 'https://webhook.example.com/pix'
              required: ['amount']
              uniqueProperties: ['externalID']
      responses:
        '200':
          description: QRCode Pix criado com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: 'null'
                  status:
                    type: integer
                    description: Código de status HTTP.
                    example: 200
                  data:
                    $ref: '#/components/schemas/PixQRCode'
        '400':
          description: Requisição inválida. Dados fornecidos são inválidos.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro descrevendo o motivo da falha.
                    example: 'Valor deve ser no mínimo 200'
                  status:
                    type: integer
                    description: Código de status HTTP.
                    example: 400
                  data:
                    type: 'array'
                    example: []
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro descrevendo o motivo da falha na autenticação.
                    example: 'Header com Authorization está vazio'
                  status:
                    type: integer
                    description: Código de status HTTP.
                    example: 401
                  data:
                    type: 'array'
                    example: []
  /charge/{id}:
    get:
      summary: 'Buscar cobrança'
      description: Busca os dados de uma cobrança pelo ID.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: [string, integer]
            description: Id da cobrança pode ser o (externalID ou ChargeId)
            example: "ch_123456"   # <-- Exemplo do parâmetro no path
      security:
        - bearerAuth: []
      responses:
        '200':
          description: QRCode Pix criado com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: 'null'
                  status:
                    type: integer
                    description: Código de status HTTP.
                    example: 200
                  data:
                    $ref: '#/components/schemas/PixQRCode'
        '400':
          description: Requisição inválida. Dados fornecidos são inválidos.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro descrevendo o motivo da falha.
                    example: 'ID da cobrança é obrigatório'
                  status:
                    type: integer
                    description: Código de status HTTP.
                    example: 400
                  data:
                    type: 'array'
                    example: []
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro descrevendo o motivo da falha.
                    example: 'Header com Authorization está vazio'
                  status:
                    type: integer
                    description: Código de status HTTP.
                    example: 401
                  data:
                    type: 'array'
                    example: []
  /charge/refund/{id}:
    post:
      summary: 'Extornar cobrança'
      description: Veja como é simples fazer um extorno
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: [string, integer]
            description: Id da cobrança pode ser o (externalID ou ChargeId)
            example: "ch_123456"   # <-- Exemplo do parâmetro no path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                  description: Valor do extorno em centavos.
                comment:
                  type: string
                  description: Comentário sobre o extorno
                  maxLength: 35
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Extorno realizado
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: 'null'
                  status:
                    type: integer
                    description: Código de status HTTP.
                    example: 200
                  data:
                    $ref: '#/components/schemas/Refund'
        '400':
          description: Requisição inválida. Dados fornecidos são inválidos.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro descrevendo o motivo da falha.
                    example: 'ID da cobrança é obrigatório'
                  status:
                    type: integer
                    description: Código de status HTTP.
                    example: 400
                  data:
                    type: 'array'
                    example: []
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro descrevendo o motivo da falha.
                    example: 'Header com Authorization está vazio'
                  status:
                    type: integer
                    description: Código de status HTTP.
                    example: 401
                  data:
                    type: 'array'
                    example: []
  /charges:
    get:
      summary: 'Listar cobranças'
      description: Listar todas as cobranças criadas
      parameters:
        - name: startDate
          in: query
          schema:
            type: string
            format: date
            description: Data de início no formato YYYY-MM-DD
            example: "2025-01-01"
        - name: endDate
          in: query
          schema:
            type: string
            format: date
            description: Data de término no formato YYYY-MM-DD
            example: "2025-12-31"
        - name: sort
          in: query
          required: false
          schema:
            type: string
            description: Ordenar por campo (id, createdAt)
            example: "createdAt"
        - name: order
          in: query
          required: false
          schema:
            type: string
            description: Ordenar em ordem (asc, desc)
            example: "desc"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista de cobranças retornada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargesList'
        '400':
          description: Requisição inválida. Dados fornecidos são inválidos.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro descrevendo o motivo da falha.
                    example: 'Data inicial deve estar no formato Y-m-d'
                  status:
                    type: integer
                    description: Código de status HTTP.
                    example: 400
                  data:
                    type: 'array'
                    example: []
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro descrevendo o motivo da falha.
                    example: 'Header com Authorization está vazio'
                  status:
                    type: integer
                    description: Código de status HTTP.
                    example: 401
                  data:
                    type: 'array'
                    example: []
  /account:
    get:
      summary: Obter detalhes da conta
      description: Permite que você recupere os detalhes da sua conta, incluindo informações de saldo.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Detalhes da conta retornados com sucesso.
          content:
            application/json: 
              schema:
                type: object
                properties:
                  error:
                    type: 'null'
                  status:
                    type: integer
                    description: Código de status HTTP.
                    example: 200
                  data:
                    $ref: '#/components/schemas/Account'
                    
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Mensagem de erro descrevendo o motivo da falha.
                    example: 'Header com Authorization está vazio'
                  status:
                    type: integer
                    description: Código de status HTTP.
                    example: 401
                  data:
                    type: 'array'
                    example: []
  /withdraw/create:
    post:
      summary: 'Criar um novo saque'
      description: Cria um novo pedido de saque.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                  description: Valor do saque em centavos.
                  example: 200
                  minimum: 200
                pix_type:
                  type: string
                  description: Tipo da chave PIX.
                  enum: ['EMAIL', 'PHONE', 'CPF', 'CNPJ', 'RANDOM']
                pix_key:
                  type: string
                  description: Chave PIX.
                comment:
                  type: string
                  maxLength: 35
                  description: Comentário para o saque.
                externalID:
                  type: string
                  description: ID externo para referência na sua aplicação.
                postbackUrl:
                  type: string
                  description: URL para receber notificações sobre o status do pagamento, dos eventos de cobrança paga, expirada e extornada.
                  example: 'https://webhook.example.com/pix'
      responses:
        '200':
          description: Saque criado com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: 'null'
                  status:
                    type: integer
                    example: 200
                  data:
                    $ref: '#/components/schemas/WithdrawalCreateResponse'
        '400':
          description: Requisição inválida. Verifique os parâmetros enviados.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'O campo amount é obrigatório.'
                  status:
                    type: integer
                    example: 400
                  data:
                    type: array
                    example: []
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'Header com Authorization está vazio'
                  status:
                    type: integer
                    example: 401
                  data:
                    type: array
                    example: []
  /withdraw/{id}:
    get:
      summary: 'Buscar um saque'
      description: Busca um saque pelo ID.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: ID do saque.
      responses:
        '200':
          description: Saque encontrado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: 'null'
                  status:
                    type: integer
                    example: 200
                  data:
                    $ref: '#/components/schemas/WithdrawalShowResponse'
        '401':
          description: Não autorizado. Falha na autenticação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'Header com Authorization está vazio'
                  status:
                    type: integer
                    example: 401
                  data:
                    type: array
                    example: []
        '404':
          description: Saque não encontrado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'Saque não encontrado'
                  status:
                    type: integer
                    example: 404
                  data:
                    type: array
                    example: []
  # /baas/account/create:
  #   post:
  #     summary: 'Criar Conta BaaS'
  #     description: Cria uma nova conta BaaS.
  #     security:
  #       - bearerAuth: []
  #     parameters:
  #       - name: X-Account-ID
  #         in: header
  #         required: true
  #         description: Identificador da conta a ser operada (apenas para chave master).
  #         schema:
  #           type: string
  #           example: '01k6abc...'
  #     requestBody:
  #       required: true
  #       content:
  #         application/json:
  #           schema:
  #             $ref: '#/components/schemas/BaaSAccountCreateRequest'
  #     responses:
  #       '200':
  #         description: Conta criada com sucesso.
  #         content:
  #           application/json:
  #             schema:
  #               type: object
  #               properties:
  #                 error:
  #                   type: 'null'
  #                 status:
  #                   type: integer
  #                   example: 200
  #                 data:
  #                   $ref: '#/components/schemas/BaaSAccountCreateResponse'
  #       '400':
  #         description: Requisição inválida. Dados fornecidos são inválidos.
  #         content:
  #           application/json:
  #             schema:
  #               type: object
  #               properties:
  #                 error:
  #                   type: string
  #                   description: Mensagem de erro descrevendo o motivo da falha.
  #                   example: 'CNPJ inválido'
  #                 status:
  #                   type: integer
  #                   description: Código de status HTTP.
  #                   example: 400
  #                 data:
  #                   type: 'array'
  #                   example: []
  #       '401':
  #         description: Não autorizado. Falha na autenticação.
  #         content:
  #           application/json:
  #             schema:
  #               type: object
  #               properties:
  #                 error:
  #                   type: string
  #                   description: Mensagem de erro descrevendo o motivo da falha na autenticação.
  #                   example: 'Header com Authorization está vazio'
  #                 status:
  #                   type: integer
  #                   description: Código de status HTTP.
  #                   example: 401
  #                 data:
  #                   type: 'array'
  #                   example: []
  # /baas/internal-transfer:
  #   post:
      # summary: 'Transferência Interna BaaS'
      # description: Transfere saldo entre chaves PIX do mesmo grupo.
      # security:
      #   - bearerAuth: []
      # parameters:
      #   - name: X-Account-ID
      #     in: header
      #     required: true
      #     description: Identificador da conta a ser operada (apenas para chave master).
      #     schema:
      #       type: string
      #       example: '01k6abc...'
      # requestBody:
      #   required: true
      #   content:
      #     application/json:
      #       schema:
      #         $ref: '#/components/schemas/BaaSInternalTransferRequest'
      # responses:
      #   '200':
      #     description: Transferência realizada.
      #     content:
      #       application/json:
      #         schema:
      #           type: object
      #           properties:
      #             error:
      #               type: 'null'
      #             status:
      #               type: integer
      #               description: Código de status HTTP.
      #               example: 200
      #             data:
      #               $ref: '#/components/schemas/BaaSInternalTransferResponse'
      #   '400':
      #     description: Requisição inválida. Dados fornecidos são inválidos ou saldo insuficiente.
      #     content:
      #       application/json:
      #         schema:
      #           type: object
      #           properties:
      #             error:
      #               type: string
      #               description: Mensagem de erro descrevendo o motivo da falha.
      #               example: 'Saldo insuficiente'
      #             status:
      #               type: integer
      #               description: Código de status HTTP.
      #               example: 400
      #             data:
      #               type: 'array'
      #               example: []
      #   '401':
      #     description: Não autorizado. Falha na autenticação.
      #     content:
      #       application/json:
      #         schema:
      #           type: object
      #           properties:
      #             error:
      #               type: string
      #               description: Mensagem de erro descrevendo o motivo da falha na autenticação.
      #               example: 'Header com Authorization está vazio'
      #             status:
      #               type: integer
      #               description: Código de status HTTP.
      #               example: 401
      #             data:
      #               type: 'array'
      #               example: []
      #   '403':
      #     description: Contas não pertencem ao seu grupo.
      #     content:
      #       application/json:
      #         schema:
      #           type: object
      #           properties:
      #             error:
      #               type: string
      #               example: 'Contas não pertencem ao seu grupo'
      #             status:
      #               type: integer
      #               example: 403
      #             data:
      #               type: 'array'
      #               example: []
      #   '404':
      #     description: Conta de origem/destino não encontrada.
      #     content:
      #       application/json:
      #         schema:
      #           type: object
      #           properties:
      #             error:
      #               type: string
      #               example: 'Conta não encontrada'
      #             status:
      #               type: integer
      #               example: 404
      #             data:
      #               type: 'array'
      #               example: []
components:
  parameters:
    XAccountId:
      name: X-Account-ID
      in: header
      required: false
      description: Identificador da conta a ser operada (apenas para chave master).
      schema:
        type: string
        example: '01k6abc...'
    XAccountIdRequired:
      name: X-Account-ID
      in: header
      required: true
      description: Identificador da conta a ser operada (apenas para chave master).
      schema:
        type: string
        example: '01k6abc...'
  schemas:
    BaaSAccountCreateRequest:
      type: object
      required: ['officialName', 'tradeName', 'taxID', 'documents', 'address', 'representatives']
      properties:
        officialName:
          type: string
        tradeName:
          type: string
        taxID:
          type: string
          description: CNPJ válido e único.
        documents:
          type: array
          items:
            type: string
          description: Array de PDFs (URL ou Base64).
        address:
          $ref: '#/components/schemas/BaaSAddress'
        representatives:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/BaaSRepresentative'
        postbackUrl:
          type: string
          format: uri
    BaaSAddress:
      type: object
      required: ['zipcode', 'street', 'number', 'neighborhood', 'city', 'state']
      properties:
        zipcode:
          type: string
        street:
          type: string
        number:
          type: string
        neighborhood:
          type: string
        city:
          type: string
        state:
          type: string
          maxLength: 2
    BaaSRepresentativeDocuments:
      type: object
      required: ['picture_face', 'picture_identity_front', 'picture_identity_type']
      properties:
        picture_face:
          type: string
        picture_identity_front:
          type: string
        picture_identity_back:
          type: string
        picture_identity_type:
          type: string
          enum: ['RG', 'CNH']
    BaaSRepresentative:
      type: object
      required: ['name', 'birthDate', 'email', 'taxID', 'phone', 'documents']
      properties:
        name:
          type: string
        birthDate:
          type: string
          format: date
        email:
          type: string
          format: email
        taxID:
          type: string
        phone:
          type: string
        documents:
          $ref: '#/components/schemas/BaaSRepresentativeDocuments'
    BaaSAccount:
      type: object
      properties:
        id:
          type: string
          example: 'acc_01k6abc...'
        officialName:
          type: string
        tradeName:
          type: string
        taxID:
          type: string
        address:
          $ref: '#/components/schemas/BaaSAddress'
        representatives:
          type: array
          items:
            $ref: '#/components/schemas/BaaSRepresentative'
        createdAt:
          type: string
        updatedAt:
          type: string
    BaaSAccountCreateResponse:
      type: object
      properties:
        accountID:
          type: string
          example: '01kekssx620ww41479nqyz6pjf'
        status:
          type: string
          example: 'WAITING'
        officialName:
          type: string
          example: 'Empresa XYZ LTDA'
        tradeName:
          type: string
          example: 'XYZ Pagamentos'
        taxID:
          type: string
          example: '04.252.011/0001-10'
    BaaSInternalTransferRequest:
      type: object
      required: ['amount', 'from_key', 'to_key']
      properties:
        amount:
          type: number
          minimum: 1
        from_key:
          type: string
        to_key:
          type: string
    BaaSInternalTransferResponse:
      type: object
      properties:
        amount:
          type: number
        status:
          type: string
          enum: ['DONE']
    WithdrawalCreateResponse:
      type: object
      properties:
        id:
          type: string
        amount:
          type: number
        pixKey:
          type: string
        pixType:
          type: string
        externalID:
          type: string
        status:
          type: string
        comment:
          type: string
    WithdrawalShowResponse:
      type: object
      properties:
        id:
          type: string
        account_id:
          type: string
        amount:
          type: number
        status:
          type: string
        comment:
          type: string
        pixKey:
          type: string
        pixType:
          type: string
        externalID:
          type: string
        createdAt:
          type: string
        updatedAt:
          type: string
    PixQRCode:
      type: object
      properties:
        id:
          type: string
          description: Identificador único do QRCode Pix.
          example: 'ch_123456'
        externalID:
          type: string
          description: Identificador único do QRCode Pix no seu sistema.
          example: 'pedido-123'
        brCode:
          type: string
          description: Código copia-e-cola do QRCode Pix.
          example: '00020001021226950014br.gov.bcb.pix'
        brCodeImageUrl:
          type: string
          description: Imagem em Base64 do QRCode Pix.
          example: 'https://api.aobapay.com/v1/qrcode/ch_abb6bc4f-f55d-45ff-8b'
        amount:
          type: number
          description: Valor a ser pago.
          example: 200
        comment:
          type: string
          description: Comentário opcional sobre o QRCode Pix.
          example: 'Pagamento para pedido #123'
        expiration:
          type: integer
          description: Data de expiração do QRCode Pix em segundos.
          example: 300
        fee:
          type: number
          description: Taxas da plataforma
          example: 78
        expiresAt:
          type: string
          description: Data de expiração do QRCode Pix.
          example: '2025-09-25 13:07:27'
        status:
          type: string
          description: Informação sobre o andamento do QRCode Pix.
          enum: ['PENDING', 'EXPIRED', 'FAILED', 'PAID', 'REFUNDED']
          example: 'PENDING'
        customer:
          type: object
          description: Dados do cliente associado ao QRCode Pix.
          additionalProperties: false
          properties:
            id:
              type: string
              description: Identificador único do cliente.
              example: 'cus_2243f989-f044-49cc-84db-3ff9e4908dde'
            name:
              type: string
              description: Nome do cliente.
              example: 'João da Silva'
            document:
              type: string
              description: Documento do cliente (CPF ou CNPJ).
              example: '12345678900'
            email:
              type: string
              description: Endereço de e-mail do cliente.
              example: 'brendo.silva@example.com'
            phone:
              type: string
              description: Número de telefone do cliente.
              example: '+5511987654321'
        createdAt:
          type: string
          description: Data de criação do QRCode Pix.
          example: '2025-09-25 13:07:27'
        updatedAt:
          type: string
          description: Data de atualização do QRCode Pix.
          example: '2025-09-25 13:07:27'
    Account:
      type: object
      description: Retorno .
      additionalProperties: false
      properties:
        accountID:
          type: string
          description: Identificador único da conta.
          example: '8918291298891829'
        taxID:
          type: string
          description: CNPJ da conta
          example: '12345678000199'
        name:
          type: string
          description: Nome da empresa.
          example: 'AOBA PAY LTDA'
        fee:
          type: integer
          description: Taxa da empresa
          example: 78
        balance:
          type: object
          description: Informações de saldo da loja.
          additionalProperties: false
          properties:
            available:
              type: number
              description: Saldo disponível para saque em centavos.
              example: 15000
            pending:
              type: number
              description: Saldo pendente de confirmação em centavos.
              example: 5000
            blocked:
              type: number
              description: Saldo bloqueado em disputas em centavos.
              example: 2000
    Refund:
      type: object
      description: Dados do extorno.
      additionalProperties: false
      properties:
        id:
          type: string
          description: Identificador único do QRCode Pix.
          example: 'ch_123456'
        externalID:
          type: string
          description: Identificador único do QRCode Pix no seu sistema.
          example: 'pedido-123'
        amount:
          type: integer
          description: Valor Extornado
          example: 200
        comment: 
          type: string
          description: Descrição do extorno
          example: Se arrependeu ;(
    Charges:
      type: object
      properties:
        id:
          type: string
          description: Identificador único do QRCode Pix.
          example: 'ch_123456'
        externalID:
          type: string
          description: Identificador único do QRCode Pix no seu sistema.
          example: 'pedido-123'
        brCode:
          type: string
          description: Código copia-e-cola do QRCode Pix.
          example: '00020001021226950014br.gov.bcb.pix'
        brCodeImageUrl:
          type: string
          description: Imagem em Base64 do QRCode Pix.
          example: 'https://api.aobapay.com/v1/qrcode/ch_abb6bc4f-f55d-45ff-8b'
        amount:
          type: number
          description: Valor a ser pago.
          example: 200
        comment:
          type: string
          description: Comentário opcional sobre o QRCode Pix.
          example: 'Pagamento para pedido #123'
        expiration:
          type: integer
          description: Data de expiração do QRCode Pix em segundos.
          example: 300
        fee:
          type: number
          description: Taxas da plataforma
          example: 78
        expiresAt:
          type: string
          description: Data de expiração do QRCode Pix.
          example: '2025-09-25 13:07:27'
        status:
          type: string
          description: Informação sobre o andamento do QRCode Pix.
          enum: ['PENDING', 'EXPIRED', 'FAILED', 'PAID', 'REFUNDED']
          example: 'PENDING'
        customer:
          type: object
          description: Dados do cliente associado ao QRCode Pix.
          additionalProperties: false
          properties:
            id:
              type: string
              description: Identificador único do cliente.
              example: 'cus_2243f989-f044-49cc-84db-3ff9e4908dde'
            name:
              type: string
              description: Nome do cliente.
              example: 'João da Silva'
            document:
              type: string
              description: Documento do cliente (CPF ou CNPJ).
              example: '12345678900'
            email:
              type: string
              description: Endereço de e-mail do cliente.
              example: 'brendo.silva@example.com'
            phone:
              type: string
              description: Número de telefone do cliente.
              example: '+5511987654321'
        createdAt:
          type: string
          description: Data de criação do QRCode Pix.
          example: '2025-09-25 13:07:27'
        updatedAt:
          type: string
          description: Data de atualização do QRCode Pix.
          example: '2025-09-25 13:07:27'
    ChargesList:
      type: object
      properties:
        error:
          type: 'null'
        status:
          type: integer
          example: 200
        data:
          type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/Charges'
            meta:
              type: object
              properties:
                current_page:
                  type: integer
                  example: 1
                last_page:
                  type: integer
                  example: 1
                per_page:
                  type: integer
                  example: 10
                total:
                  type: integer
                  example: 1
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Cabeçalho de autenticação Bearer no formato `Bearer <aobapay-api-key>` onde `<aobapay-api-key>` é a sua chave de API.
